.App-header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  padding: 30px 15px;
  .header-row {
    align-items: center;
    justify-content: space-between;
  }
  .nav {
    &-list {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
      list-style-type: none;
      margin-left: -15px;
      margin-right: -15px;
    }
    &-item {
      padding-left: 15px;
      padding-right: 15px;
    }
    &-link {
      display: block;
      font-weight: 500;
      color: inherit;
      text-decoration: none;
    }
  }
}